<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag("#{@product.image}") %>
</p>

<p>
  <strong>Content:</strong>
  <%= @product.content %>
</p>

<%= link_to 'Back', products_path, class: 'btn btn-black' %>