<p id="notice"><%= notice %></p>
<% if logged_in? %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
<% end %>

<h1>Posts</h1>

<dl>
  <dt></dt>
</dl>

<div>
  <table class="center">
    <tbody>
      <% @records.each do |post| %>
        <tr>
          <td>
            <dl>
              <dt> <%= post.title %> </dt>
              <dt> <%= post.author.last_name %> </dt>
              <dt> <%= post.created_at %> </dt>
              <dt> Views: <%= post.counter_of_view %> </dt>
            </dl>
          </td>
          <td>
            <%= image_tag("#{post.image}") %>
          </td>
          <% cook = cookies[:not_in] %>
          <% cook = cook.to_i %>
          <% if cook < 5 %>
            <td>
              <%= link_to 'Show', post, class: 'btn btn-primary' %>
            </td>
          <% else %>
            <% cookies[:not_in] = 0 %>
            <td>
              <%= link_to 'Show', post, data: { confirm: 'Log in please' }, class: 'btn btn-primary' %>
            </td>
          <% end %>
          <% if post.author_id == session[:author_id] %>
            <td>
              <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-black' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <%== pagy_bootstrap_nav(@pagy) %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
  <%== pagy_info(@pagy) %>
</div>

<br>
